<%- include('partials/header-login') %>

<div class="container">
  <h1>Register</h1>

  <div class="form-container">
          <form action="/register" method="POST">
            <div class="column">
              <label for="email" class="label">Email:</label>
              <input type="email" name="username" class="input">
            </div>
            <div class="column">
              <label for="password" class="label">Password:</label>
              <input type="password" name="password" class="input">
            </div>
            <div class="button-log">
            <button type="submit" name="login" class="register">register</button>
            </div>
          </form>

      </div>

</div>

<%- include('partials/footer') %>
